{% extends 'johnsprojects/base_site.html' %}
{% load staticfiles %}
{% block header %}
              <ul class="nav masthead-nav">
                <li ><a href="/monMonde">Home</a></li>
                <li><a href="/monMonde/media">Media</a></li>
                <li><a href="/monMonde/programming">Programming</a></li>
                <li><a href="/monMonde/server">Server</a></li>
                <li class="active"><a href="/monMonde/book">Book</a>
              </ul>
{% endblock %}

{% block content %}
{% for blog in blog.all %}
    <h3>{{ blog }}</h3>
    <p>{{blog.body|safe}}</p>
{% endfor %}
{% endblock %}